.login-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 40px;
}

.login-form {
    /* background-color: #FBE9D0; */
    min-width: 500px;
    height: 600px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.367);
    border-radius: 8px;

    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-size: 1.6em;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    text-align: center;
    color: black;
    padding-top: 25px;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.form-group {
    text-align: left;
    margin: auto;
    margin: 15px 15px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.login-container input {
    width: 350px;
    height: 22px;
    border-radius: 5px;
    padding: 4px;
    margin: 2px;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 0.7em;
}

@media screen and (max-width: 1000px) {
    .login-container  * {
        margin: auto;
    }
    .login-container {
        flex-direction: column-reverse;
    }    
}

a {
    font-size: 0.7em;
    text-decoration: underline;
}