.navbar-container {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;

    /* background-image: linear-gradient(to bottom right, white 70%, orange 30%); */
    /* box-shadow: 3px 3px 10px rgba(182, 182, 182, 0.636); */
    background-color: #eeeeee;

    /* background-image: url(./assets/background4.png);
    background-attachment: fixed; */

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.navbar-container h1 {
    font-family: "Atomic Age", system-ui;
  font-weight: 400;
  font-style: normal;
    color: rgb(39, 7, 87);

    margin-left: 25px;

}