.imagegrid-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;

  max-width: 800px;
}

.imagegrid-column {
  flex: 25%;
  max-width: 25%;
  padding: 5px;
}

.imagegrid-column img {
  vertical-align: middle;
  width: 100%;

  border-radius: 15px;
  padding: 5px;
}

@media screen and (max-width: 800px) {
  .imagegrid-column {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .imagegrid-column {
    flex: 100%;
    max-width: 100%;
  }
}
